.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  min-height: 100vh;

  font-family: sans-serif;
  background-color: #292932;
}

.page-title {
  font-size: 96px;
  font-weight: 600;
  color: #fafafb;
}
